!!!
html(lang="en", ng-app="DemoApp")
	head
		link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css",rel="stylesheet")
		link(rel="stylesheet", href="timepickr.css")
		
	body.container
		|<a href="https://github.com/thomporter/angular-timepickr"><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
		h1 Angular Timepickr
		p Inspired by 
			a(href="http://haineault.com/media/jquery/ui-timepickr/page/") http://haineault.com/media/jquery/ui-timepickr/page/
		
		p Currently a long ways off from the inspiration.
		h2 Limitations 
		ol
			li No 24 hour option
			li Restricted to minutes on the 5s (:00, :05, :10, etc)  The directive rounds to nearet selectable minute on load...
			li Embeded on page - no "mouse over" features (yet)
			li Only tested in Chrome
		
		
		h2 Demo 1
		p Bound directly to scope property ($scope.test_time)
		.row-fluid
			.span6
				div(ng-controller="DemoCtrl")
					input(ng-model="test_time")
					timepickr(ng-model="test_time")
			.span6
				pre
					|<div ng-controller="DemoCtrl">
					|  <input ng-model="test_time" />
					|  <timepickr ng-model="test_time" />
					|</div>


		h2 Demo 2
		p Bound to object property ($scope.data.test_time)
		.row-fluid
			.span6
				div(ng-controller="DemoCtrl")
					input(ng-model="data.test_time")
					timepickr(ng-model="data.test_time")
			.span6
				pre
					|<div ng-controller="DemoCtrl">
					|  <input ng-model="data.test_time">
					|  <timepickr ng-model="data.test_time"></timepickr>
					| </div>
		
		
		
		
		script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js")
		script(src="angular.timepickr.js")
		script(src="demo.js")
			
		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-37350838-2']);
			_gaq.push(['_trackPageview']);
			
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

